<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="artist-tab" data-bs-toggle="tab" data-bs-target="#artist" type="button" role="tab" aria-controls="artist" aria-selected="true">Top Artists</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="album-tab" data-bs-toggle="tab" data-bs-target="#album" type="button" role="tab" aria-controls="album" aria-selected="false">Top Albums</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="song-tab" data-bs-toggle="tab" data-bs-target="#song" type="button" role="tab" aria-controls="song" aria-selected="false">Top Songs</button>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="artist" role="tabpanel" aria-labelledby="artist-tab" tabindex="0">
    <h5 class="d-flex justify-content-center"><strong>To View Artist Specific Data Click Their Name</strong></h5>
    <table class="table">
      <thead>
        <th scope="col"></th>
        <th scope="col">Artist Name</th>
        <th scope="col">Average</th>
      </thead>
      <tbody>
        {{#each ArtistInfo}}
          <tr>
            <th scope="row">#</th>
            <td><a href="/specificStats?id={{ArtistSpotifyId}}">{{ArtistName}}</a></td>
            <td>{{ArtistAverage}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{!----------------------------------------}}
  <div class="tab-pane" id="album" role="tabpanel" aria-labelledby="album-tab" tabindex="0">
    <h5 class="d-flex justify-content-center"><strong>To Update an Album's Ranking Click on it's Title</strong></h5>
    <table class="table">
      <thead>
        <th scope="col"></th>
        <th scope="col">Album Name</th>
        <th scope="col">Average</th>
      </thead>
      <tbody>
        {{#each AlbumInfo}}
            <tr>
              <th scope="row">#</th>
              <td><a href="/ranking?artistDBID={{ArtistDatabaseId}}&albumId={{AlbumSpotifyId}}">{{AlbumTitle}}</a></td>
              <td>{{AlbumAverage}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="song" role="tabpanel" aria-labelledby="song-tab" tabindex="0">
    <table class="table">
      <thead>
        <th scope="col"></th>
        <th scope="col">Song Name</th>
        <th scope="col">Ranking</th>
      </thead>
      <tbody>
        {{#each SongInfo}}
          <tr>
            <th scope="row">#</th>
            <td>{{SongTitle}}</td>
            <td>{{Ranking}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>